@{
  ViewData["Title"] = $"Delete {Model.Name}";
}

@model PlanetaryClient.Models.Planet

<h4>Are you sure you want to delete @Model.Name?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

@Html.ActionLink("Back to details", "Details", new { id = @Model.PlanetId})