@{
  ViewData["Title"] = "Planets";
}

@using X.PagedList.Mvc;
@using X.PagedList;


<div class="container">
  <h1>All Planets:</h1>
  
  <h3>Action:</h3>
  <p>@Html.ActionLink("Add a new planet, and planet info", "Create")</p>
  
  <h3>Planets:</h3>
  <ol>
    @foreach (Planet planet in Model)
    {
      <li><strong>@planet.Name</strong>: Population: @planet.Population | <a href="/Planets/Details/@(planet.PlanetId)">View Details</a></li>
    }
  </ol>

  @using (Html.BeginForm("Search", "Planets")) {
  <label class="mdl-textfield__label" for="sample3">Search All Planets By Name:</label>
  <br>
  <input class="mdl-textfield__input" type="text" name="name" id="sample3"><br><br>
  <input type="submit" name = "name" value="Search Planets"/>
  }
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>