@{
  ViewData["Title"] = "Planets";
}

<div class="container">
  <h1>All Planets:</h1>
  
  <h3>Action:</h3>
  <p>@Html.ActionLink("Add a new planet, and planet info", "Create")</p>
  
  <h3>Planets:</h3>
  <ol>
    @foreach (Planet planet in Model)
    {
      <li><strong>@planet.Name</strong>: Population: @planet.Population | <a href="/Planets/Details/@(planet.PlanetId)">View Details</a></li>
    }
  </ol>

  @using (Html.BeginForm("Details", "Planets")) {
  <label class="mdl-textfield__label" for="sample3">Search All Planets By Name:</label>
  <br>
  <input class="mdl-textfield__input" type="text" name="name" id="sample3"><br><br>
  <input type="submit" name = "name" value="Search Planets"/>
  }
</div>
